<div [hidden]="submitted">
  <h1>Hero Form</h1>
<form (ngSubmit)="onSubmit()" #testForm="ngForm">
<div class="form-group" >
  <label for="name">Nombre</label>
  <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="model.name" name="name">
</div>

<div class="form-group">
  <label for="firstName">Primer apellido</label>
  <input type="text" class="form-control" id="firstName"
         required
         [(ngModel)]="model.firstName" name="firstName">
</div>

<div class="form-group">
  <label for="lastName">Segundo apellido</label>
  <input type="text" class="form-control" id="lastName"
         required
         [(ngModel)]="model.lastName" name="lastName">
</div>

<div class="form-group">
  <label for="email">Correo electronico</label>
  <input type="text" class="form-control" id="email"
         required
         [(ngModel)]="model.email" name="email">
</div>

<div class="form-group">
  <label for="phoneNumber">Numero de telefono</label>
  <input type="text"  class="form-control" id="phoneNumber"
         [(ngModel)]="model.phoneNumber" name="phoneNumber">
</div>

<div class="form-group">
  <label for="zipCode">Codigo postal</label>
  <input type="text"  class="form-control" id="zipCode"
         [(ngModel)]="model.zipCode" name="zipCode" (input)="validateZipCode($event)">
</div>



<div class="form-group">
  <label for="state">Estado federal</label>
  <input type="text"  class="form-control" id="state"
         [(ngModel)]="model.state" name="state">
</div>
<button type="submit" class="btn btn-success" [disabled]="!testForm.form.valid">Submit</button>
</form>
</div>