<div>
  <div class="caputre-field">
    <span>{{user.name}}</span>
    <span>{{user.firstName}}</span>
    <span>{{user.lastName}}</span>
  </div>
  <div class="caputre-field">
    <span>{{user.email}}</span>
  </div>
  <div class="caputre-field">
    <span>{{model.phoneNumber}}</span>
  </div>
  <div class="caputre-field">
    <span>Codigo postal:</span>
    <span>{{user.zipCode}}</span>
  </div>
  <div class="caputre-field">
    <span>Estado:</span>
    <span>{{user.state}}</span>
  </div>
</div>